.header-wrapper {
    position: absolute;
    top: 0;

    width: 100%;
    .header { 
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 20px;
    }
}