.header-wrapper {
    position: fixed;
    top: 0;
    z-index: 900;

    width: 100%;
    
    transition: .3s ease;
    
    .header { 
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 15px;
        .btn {
            padding: 7px 0;
        }
        
        .mlogo-link {
            display: none;
        }
        .logo {
            .st0 {
                fill: #fff;
                transition: .3s ease;
            }
            position: relative;
        }
        .logo-mobile {
            .cls-1 {
                fill: #fff;
                transition: .3s ease;
            }
        }
    }
    
    &.fixed {
        background-color: rgba(255,255,255,0.98);
        box-shadow: 0 2px 5px rgba(0,0,0,.1);

        .header {
            .logo {
                .st0 {
                    fill: $gray;
                }
            }
            
            .logo-mobile {
                .cls-1 {
                    fill: $gray;
                    transition: .3s ease;
                }
            }
        }
    }   
}