.about-wrapper {
    background-color: #fff;
    .about {
        display: flex;
        
        padding: 204px 0 227px;

        &::before {
            @include gradient-line();
            position: relative;
            
            top: 23px;
            margin-right: 29px;
        }

        &__left {
            display: flex;
            flex-direction: column;
            
            width: calc(56% - 100px);
            color: $black;

            h1 {
                width: 50%;
                margin: 0;
            }

            p {
                margin: 39px 0 0;
                font-size: $fz-21px;
                line-height: 1.48;
            }
        }
        &__right {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            width: 44%;

            .cube {
                width: 70px;
                height: 81px;
                
                position: absolute;
            }
            .fst {
                z-index: 200;
                animation:  cube-1-translate-move 6s infinite ease-in-out;
            }

            .snd {
                z-index: 200;
                animation:  cube-2-translate-move 6s infinite ease-in-out;
            }

            .trd {
                z-index: 200;
                animation: cube-3-translate-move 6s infinite ease-in-out;
            }
            
            .big {
                width: 257px;
                height: 296px;

                animation: scale-little 6s alternate infinite ease-in-out;
            }
        }
    }
}