* {
  box-sizing: border-box;
  &::selection {
    background-color: $red;
  }
}

html {
  font: $default-font-size $font-stack;
  line-height: 1;
  color: #fff;
}

body {
  overflow-x: hidden;
}

h1, 
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: $fz-48px;
  font-weight: bold;
}

h2 {
  font-size: $fz-36px;
  font-weight: bold;
}

h3 {
  font-size: $fz-24px;
  font-weight: 600;
}

h4 {
  font-size: $fz-16px;
  font-weight: bold;
}

p {
  color: $gray;
  font-weight: 300;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: $max-width;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 174px;

  padding: 14px 0;

  font-size: $fz-16px;
  font-family: inherit;
  font-weight: 600;

  border: 2px solid transparent;
  border-radius: $border-radius;
  
  outline: none;

  background-color: transparent;

  cursor: pointer;
  user-select: none;

  transition: .3s ease;
  
  &-white {
    border-color: #fff;
    color: #fff;
    
    &:hover,
    &:focus {
      background-color: #fff;
      color: $blue;
    }
  }
  
  &-blue {
    border-color: $blue;
    color: $blue;

    &:hover,
    &:focus {
      background-color: $blue;
      color: #fff;
    }
  }
}

.logo {
  width: 171px;
  height: 20px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
  span {
      transition: .2s ease;
      background-color: rgba(255,255,255, .2);
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff;
}

.owl-carousel {
  position: static;
}