.explorers-wrapper {
    background-color: #fff;
    .explorers {
        display: flex;
        justify-content: space-between;

        padding: 200px 0;
    
        &::before {
            @include gradient-line();
            position: relative;
            
            top: 15px;
            margin-right: 29px;
        }

        &__left {
            width: calc(50% - 100px);
            h2 {
                width: 90%;
                margin: 0 0 59px;
                color: $black;
            }
        }

        &__right {
            width: 50%;
            .companies {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: -37px 0;
                .company {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    
                    margin: 37px 0;
                    width: 50%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}