button
  border: none
  
  background: none

  font-family: $avenir
  font-size: $fs14
  font-weight: 900
  cursor: pointer

  &:focus
    outline: none

.button
  text-transform: uppercase
  font-weight: 900
  border-radius: $button-border-radius
  
  color: $white

  @include center-content

  height: 48px
  min-width: 160px
  transition: $transition

  position: relative
  z-index: 10
  
  @media (max-width: $mobile)
    width: 100%
    
  &--white
    color: $white
    border-radius: 2px
    border: 1px solid $white

    &:hover
      border-color: $red
      background: $red

  &--red
    background: $red

    &:hover
      box-shadow: none