button
  border: none
  
  background: none

  font-family: $avenir
  font-size: $fs14
  font-weight: 900
  cursor: pointer

  &:focus
    outline: none

.button
  text-transform: uppercase
  font-weight: 900
  border-radius: $button-border-radius
  
  color: $white

  @include center-content

  height: 48px
  min-width: 160px
  transition: $transition

  position: relative
  z-index: 10
  
  @media (max-width: $mobile)
    width: 100%
    
  &--white
    color: $white
    border-radius: 2px
    border: 1px solid $white

    &:hover
      border-color: $red
      background: $red

  &--red
    background-color: $red
    text-transform: none
    
    @include box-shadow
    
    &:before 
      color: white
      content: attr(data-hover)
      position: absolute
      opacity: 0
      text-shadow: 0 0 1px rgba(255,255,255,0.3)
      transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg)
      transition: $transition
      pointer-events: none
    
    &:hover,
    &:focus
      box-shadow: none

      &:before 
        transform: scale(1) translateX(0px) translateY(0px) rotate(0deg)
        opacity: 1

      


