.footer-wrapper {
    position: absolute;
    bottom: 0;

    width: 100%;
    
    background-color: transparent;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 29px 0;
        border-top: 2px solid rgba(255,255,255,.8);

        .rights {
            font-size: $fz-14px;

            opacity: .7;
            color: #fff;
        }
    }
}