.footer
  display: flex
  justify-content: center
  align-items: center

  @include top-layer

  padding: 55px 15px

  border-top: 1px solid rgba($color: $blue, $alpha: .1s)
  background-color: $white

  @media screen and (max-width: $mobile)
    flex-direction: column

    padding: 30px 15px 20px

  &::before,
  &::after
    display: block
    content: ""

    position: absolute
    top: -1px

    height: 1px
    width: 100%

    background: rgba($color: $blue, $alpha: .1s)
  
  &::before
    left: -100%

  &::after
    right: -100%

  &__descr
    width: 50%
    font-size: $fs14
    color: $blue
    font-weight: 500
    line-height: 1.5
    
    @media screen and (max-width: $mobile)
      text-align: center
      width: 100%

      margin-top: 25px

  &__logo
    margin-right: 40px