.header
  display: flex
  align-items: center
  justify-content: space-between
  
  width: 100%

  padding: 25px 15px
  transition: $transition


  &__wrapper
    height: 100px
    width: 100%

    position: fixed
    z-index: 4
    left: 0
    right: 0

  .logo
    .change
      fill: $white
    
  .nav
    @media screen and (max-width: $md-screens)
      display: none

    &__list
      display: flex

    &__item
      color: $white
      font-weight: bold
      font-size: $fs14
      margin-right: 29px

  .button
    @media screen and (max-width: $mobile)
      text-transform: none
      width: 140px


  &__wrapper.scrolled
    background-color: $white
    height: auto
    
    @include box-shadow

    .header
      padding: 15px

      .logo
        .change
          fill: #000

      .button
        color: $red
        border-color: $blue

        &:hover
          color: $white
          border-color: $red

      .nav__item
        color: $blue