.showcase
  display: flex
  flex-direction: column
  align-items: center

  padding: 85px 15px
  
  // Ipad 
  @media only screen and (width: 768px) and (height: 1024px) and (orientation: landscape)
    padding-top: 85px
  
  // Ipad 
  @media only screen and (width: 768px) and (height: 1024px) and (orientation: portrait)
    padding-top: 85px

  // Ipad Pro
  @media only screen and (width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) 
    padding-top: 85px

  &__heading
    margin-bottom: 48px
    line-height: 1.33
    text-align: center

  .cards
    display: flex
    justify-content: space-between
    
    @include middle-layer

    @media screen and (max-width: $md-screens) 
      display: block

      .owl-stage
        margin-bottom: 35px
    
    @media screen and (max-width: $mobile)
      display: flex
      flex-direction: column

    .card
      height: 260px
      width: calc(100% / 3 - 30px)
      padding: 30px 20px 40px
      
      background-color: $white
      border-radius: $card-border-radius

      @include box-shadow

      @media screen and (max-width: $md-screens) 
        width: 100%
      
      @media screen and (max-width: $mobile)
        &:not(:first-child)
          margin-top: 30px 

      &__heading
        margin-bottom: 20px
        color: $blue

      .info
        margin-bottom: 30px
        margin-top: 25px

        .number
          font-size: $fs84
          color: $red
          font-weight: 600

        .ext
          font-size: $fs32
          color: $blue
          font-weight: 600