.contact-wrapper {
    position: relative;
    padding: 139px 0 221px;

    @include gradient-bg(50deg, $red, $blue);
    .contact {
        display: flex;
        justify-content: space-between;

        color: #fff;

        &__left { 
            display:flex;
            flex-direction: column;
            align-items: flex-start;

            width: calc(50% - 1px);

            padding: 77px 0;
            border-right: 2px solid rgba(255,255,255,.8);

            h2 {
                margin: 0 0 39px;
                font-size: $fz-48px;
            }
        }

        &__right {
            display: flex;
            justify-content: flex-end;

            
            padding: 77px 0;
            width: calc(50% - 40px);
            
            margin-right: 40px;

            .address {
                display: flex;
                flex-direction: column;

                margin-top: -32px;
                font-style: normal;
                span {
                    margin: 32px 0 12px;

                    font-size: $fz-16px;
                    font-weight: 600;
                }
                
                .address__info {
                    margin: 0;

                    font-size: $fz-24px;
                    font-weight: 500;
                }
            }
            
        }
    }
}