@mixin gradient-bg($para...) {
    background: linear-gradient($para);
}

@mixin gradient-line {
    display: block;
    content: "";

    width: 71px;
    height: 5px;
    
    @include gradient-bg(to right, $red, $blue);
}

