$max-width: 1200px;

$default-font-size: 16px;
$fz-48px: 3rem;
$fz-36px: 2.25rem;
$fz-24px: 1.5rem;
$fz-21px: 1.3125rem;
$fz-16px: 1rem;
$fz-14px: .85rem;
$font-stack: 'Poppins', sans-serif;

$border-radius: 4px;

$red: #ff303e;
$blue: #0083bf;
$black: #222222;
$gray: #808080;