@keyframes levitate-small {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes levitate-medium {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes levitate-large {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes scalation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.5);
    }
}

@keyframes cube-1-translate-move {
    0%, 100% {
        bottom: 7%;
        left: 78%;
    }

    25% {
        bottom: 68%;
        left: 78%;
    }

    50% {
        bottom: 68%;
        left: 7%;
    }

    75% {
        bottom: 7%;
        left: 7%;
    }
}

@keyframes cube-2-translate-move {
    0%, 100% {
        bottom: 68%;
        left: 78%;
    }

    25% {
        bottom: 68%;
        left: 7%;
    }

    50% {
        bottom: 7%;
        left: 7%;
    }

    75% {
        bottom: 7%;
        left: 78%;
    }
}

@keyframes cube-3-translate-move {
    0%, 100% {
        bottom: 68%;
        left: 7%;
    }

    25% {
        bottom: 7%;
        left: 7%;
    }

    50% {
        bottom: 7%;
        left: 78%;
    }

    75% {
        bottom: 68%;
        left: 78%;
    }
}