@keyframes levitate-small {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes levitate-medium {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes levitate-large {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes scale-little {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.9);
    }
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.5);
    }
}

//cubes moving on desktops

@keyframes cube-1-translate-move-ls {

    0%,
    100% {
        top: 65%;
        right: 10%;
    }

    17% {
        top: 7%;
        right: 8%;
    }

    34% {
        top: -26%;
        right: 43.5%;
    }

    51% {
        top: 10%;
        right: 77.5%;
    }

    68% {
        top: 66%;
        right: 77.5%;
    }

    85% {
        top: 98%;
        right: 43.5%;
    }
}

@keyframes cube-2-translate-move-ls {

    0%,
    100% {
        top: -26%;
        right: 43.5%;
    }

    17% {
        top: 8%;
        right: 77.5%;
    }

    34% {
        top: 66%;
        right: 77.5%;
    }

    51% {
        top: 98%;
        right: 43.5%;
    }

    68% {
        top: 65%;
        right: 10%;
    }

    85% {
        top: 7%;
        right: 10%;
    }
}

@keyframes cube-3-translate-move-ls {

    0%,
    100% {
        top: 66%;
        right: 77.5%;
    }

    17% {
        top: 98%;
        right: 43.5%;
    }

    34% {
        top: 65%;
        right: 10%;
    }

    51% {
        top: 7%;
        right: 10%;
    }

    68% {
        top: -26%;
        right: 43.5%;
    }

    85% {
        top: 8%;
        right: 77.5%;
    }
}

//cubes moving on medium screen

@keyframes cube-1-translate-move-md {

    0%,
    100% {
        top: 60%;
        right: 18%;
    }

    17% {
        top: 20%;
        right: 18%;
    }

    34% {
        top: -6%;
        right: 44%;
    }

    51% {
        top: 19%;
        right: 69.5%;
    }

    68% {
        top: 60%;
        right: 69.5%;
    }

    85% {
        top: 84%;
        right: 44%;
    }
}

@keyframes cube-2-translate-move-md {

    0%,
    100% {
        top: -6%;
        right: 44%;
    }

    17% {
        top: 19%;
        right: 69.5%;
    }

    34% {
        top: 60%;
        right: 69.5%;
    }

    51% {
        top: 84%;
        right: 44%;
    }

    68% {
        top: 60%;
        right: 18%;
    }

    85% {
        top: 20%;
        right: 18%;
    }
}

@keyframes cube-3-translate-move-md {

    0%,
    100% {
        top: 60%;
        right: 69.5%;
    }

    17% {
        top: 84%;
        right: 44%;
    }

    34% {
        top: 60%;
        right: 18%;
    }

    51% {
        top: 20%;
        right: 18%;
    }

    68% {
        top: -6%;
        right: 44%;
    }

    85% {
        top: 19%;
        right: 69.5%;
    }
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(359deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(1.5)
    }
}