.services-wrapper {
    background-color: #fff;

    .services {
        display: flex;
        flex-direction: column;

        padding: 100px 0;
        .service {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 100px -15px;

            &:nth-child(2) {
                flex-direction: row-reverse;
            }

            &__image {
                display: flex;
                justify-content: center;

                position: relative;

                width: 50%;
                margin: 0 15px;

                .illustration {
                    width: 320px;
                    height: 320px;
                    animation: none;
                }

                .cube {
                    position: absolute;
                    z-index: 500;
                }
            }

            &.requirements {
                .cube {
                    top: 27%;

                    width: 130px;
                    height: 149px;
                }

                .illustration {
                    animation: rotation 16s alternate-reverse infinite;
                }
            }

            &.strategy {
                .cube {
                    width: 147px;
                    height: 169px;
                    
                    animation: levitate-medium 4s alternate infinite ease-in-out;
                }
            }

            &.commerce {
                .ill-wrapper {
                    position: relative;
                
                    .cube {
                        top: 40%;
                        left: 6%;

                        width: 125px;
                        height: 144px;
                        
                        animation: scale-little 4s alternate infinite;
                    }
                }
            }

            &__info {
                display: flex;
                flex-direction: column;

                width: 50%;

                padding-top: 70px;
                margin: 0 15px;

                h2 {
                    margin: 0;

                    position: relative;
                    z-index: 5;

                    font-size: $fz-30px;
                    color: $black;

                    &::before {
                        display: inline-block;
                        content: attr(data-number);
                        font-size: 133px;
                        color: #e6e6e6;
                        font-weight: bold;
                        position: absolute;
                        top: -65px;
                        left: 2px;
                        z-index: -5;
                    }
                }
                p {
                    margin: 40px 0 0;

                    font-size: $fz-21px;
                    line-height: 1.48;
                }
            }
        }

    }
}

